.img img,
.avatar img {
  width: 250px;
  margin-right: 20px;
}
.img img {
  position: relative;
  animation: up-and-down 5s linear infinite;
}
.wave {
  animation: wave 2s linear infinite;
  display: inline-block;
}

.logo,
.tool {
  margin-top: 20px;
  img {
    width: 75px;
    border: 1px solid white;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    z-index: 20;
  }
}

.col {
  div {
    border: 1px solid #9e9e9e;
    padding: 5px;
    background-color: #f6f6f6;
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
  }
}
.col div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
}
.col diV:hover::before {
  width: 100%;
  height: 100%;
}

.about {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .img img,
  .avatar img {
    width: 100px;
    margin-right: 0;
  }
  .title {
    margin: 10px auto;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -40px;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
