.img img {
  width: 250px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

.title {
  width: fit-content;
  padding: 5px 7px;
  background-color: #e2e3e5;
  border-radius: 4px;
}

.logo {
  margin-top: 20px;
  img {
    width: 80px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 25%;
    transition: 0.3s linear;
    padding: 5px;
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.about {
  margin-top: 15px;
  text-align-last: center;
}

@media (max-width: 768px) {
  .img img {
    width: 100px;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}
